.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 8rem;
  margin-top: 6.4rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary);
  color: inherit;
  padding: 1.8rem;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: background-color 0.1s ease-in-out;
}

.menuLink:hover {
  background: var(--primary-focus);
}

.menuLink:active {
  transform: translate(1px, 1px);
}

.themeButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: var(--primary);
  color: inherit;
  padding: 1.8rem;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: background-color 0.1s ease-in-out;
}

.themeButton:hover {
  background: var(--primary-focus);
}

.themeButton:active {
  transform: translate(1px, 1px);
}

@media (max-width: 912px) {
  .menu {
    margin: 6rem auto;
  }

  .menuLink,
  .themeButton {
    padding: 1.4rem;
    transition: all 0.3s ease-in-out;
  }
}
