.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: var(--primary);
  width: 64rem;
  max-width: 90%;
  height: 44rem;
  border-radius: 0;
  border: 2px solid var(--border);
  box-shadow: 2px 2px 0 var(--border);
  transition: all 0.3s ease-in-out;
}

.containerButtons {
  display: flex;
  gap: 4.8rem;
}

.containerButton {
  font-family: inherit;
  font-size: 1.2rem;
  background-color: transparent;
  color: inherit;
  padding: 0.6rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  word-spacing: -0.5em;
  white-space: nowrap;
}

.containerButton.disabled {
  background-color: transparent;
  color: inherit;
}

.active {
  background-color: var(--primary-focus);
}

.active.disabled {
  background-color: var(--primary-focus);
  color: inherit;
}

.countdown {
  font-size: 9.6rem;
  font-weight: bold;
  margin: 7.4rem auto;
  letter-spacing: -0.05em;
  transition: font-size 0.1s ease-in-out;
}

.start,
.pause,
.resume,
.interrupt {
  font-family: inherit;
  font-size: 1.8rem;
  background-color: var(--background);
  color: inherit;
  padding: 1.2rem 3.6rem;
  border-radius: 0;
  border: 2px solid var(--border);
  box-shadow: 2px 2px 0 var(--border);
  cursor: pointer;
  transition: font-size 0.1s ease-in-out;
}

.pauseInterrupt {
  display: flex;
  gap: 1.6rem;
}

.start:hover,
.pause:hover,
.resume:hover,
.interrupt:hover {
  filter: brightness(80%);
}

.start:active,
.pause:active,
.resume:active,
.interrupt:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

@media (max-width: 912px) {
  .container {
    max-width: 44rem;
    height: 38rem;
  }

  .containerButton {
    font-size: 66.25%;
  }

  .containerButtons {
    gap: 3.4rem;
  }

  .countdown {
    font-size: 7.8rem;
  }

  .start,
  .pause,
  .resume,
  .interrupt {
    font-size: 1.2rem;
  }
}
