.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: var(--primary);
  width: 64rem;
  max-width: 90%;
  height: 46rem;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
}

.containerButtons {
  display: flex;
  gap: 8rem;
}

.containerButton {
  font-family: inherit;
  font-size: 1.8rem;
  background-color: transparent;
  color: inherit;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: font-size 0.1s ease-in-out;
  white-space: nowrap;
}

.active {
  border-bottom: 2px solid var(--background);
}

.countdown {
  font-size: 12rem;
  font-weight: bold;
  margin: 7rem auto;
  transition: all 0.3s ease-in-out;
}

.pauseInterrupt {
  display: flex;
  gap: 1.6rem;
}

@media (max-width: 912px) {
  .container {
    max-width: 50rem;
    height: 40rem;
  }

  .containerButton {
    font-size: 85%;
  }

  .containerButtons {
    gap: 7.8rem;
    font-size: 1.8rem;
  }

  .countdown {
    font-size: 7.8rem;
  }

  .start,
  .pause,
  .resume,
  .interrupt {
    font-size: rem;
  }
}
