:root {
  --background: #1a2744;

  --primary: #45adff;
  --primary-focus: #008fff;

  --link-color: #008fff;

  --button-color: #1a2744;

  --text-over-primary: #1a2744;
  --text-over-background: #d0e1e7;
  --text-over-button: #d0e1e7;
}

:root[data-theme='light'] {
  --background: #f4f4fb;

  --primary: #008fff;
  --primary-focus: #45adff;

  --link-color: #45adff;

  --button-color: #f4f4fb;

  --text-over-primary: #f4f4fb;
  --text-over-background: #1a2744;
  --text-over-button: #1a2744;
}
