.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex: 1;
  margin: 1.2rem auto;
  width: 100%;
  max-width: 100rem;
}

.toastContainer {
  top: 22rem !important;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 912px) {
  .toastContainer {
    top: 30rem !important;
  }
}
