.container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.historyContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-top: auto;
  margin-bottom: 3.2rem;
}

.span {
  font-size: 2.4rem;
  color: var(--text-over-background);
}

.hasTasks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.trashButton {
  background: var(--primary);
  color: inherit;
  padding: 1.2rem;
  cursor: pointer;
  border-radius: 0.8rem;
  border: none;
  transition: background-color 0.1s ease-in-out;
}

.trashButton svg {
  height: 2rem;
  width: 2rem;
}

.trashButton:hover {
  background: var(--primary-focus);
}

.trashButton:active {
  transform: translate(2px, 2px);
  box-shadow: none;
}

.responsiveTable {
  font-family: inherit;
  border: none;
  border-radius: 0.8rem;
  overflow-x: auto;
  width: 100%;
}

.responsiveTable table {
  min-width: 100rem;
  font-size: 1.6rem;
  border-collapse: collapse;
}

.responsiveTable th {
  background-color: var(--primary-focus);
}

.responsiveTable td {
  background-color: var(--primary);
}

.responsiveTable th,
.responsiveTable td {
  padding: 1.4rem;
  text-align: left;
}
