.label {
  font-size: 1.2rem;
}

.input {
  background-color: var(--background);
  border-radius: 0;
  border: 2px solid var(--border);
  box-shadow: 1.2px 1.2px 0 var(--border);
  color: var(--text-default);
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.8rem;
  text-align: center;
  transition: none;
}

/* Chrome, Safari, Edge */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type='number'] {
  -moz-appearance: textfield;
}

.input:focus {
  outline: none;
  transform: translate(2px, 2px);
  box-shadow: none;
}

.input::placeholder {
  color: var(--gray-500);
  font-size: 1.4rem;
  font-style: italic;
}
