.button {
  font-family: inherit;
  font-size: 1.8rem;
  background-color: var(--button-color);
  color: var(--text-over-button);
  padding: 1.2rem 3.6rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  filter: brightness(95%);
}

.button:active {
  transform: translate(1px, 1px);
}

@media (max-width: 912px) {
  .button {
    font-size: 1.6rem;
  }
}
